.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-list{
    border: solid;
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 10px;
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}

li:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

.book, .enlargedBook {
    height: 200px;
    width: 120px;
    text-align: center;
    padding-top: 3em;
}

img{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  max-width: 100%;
    max-height: 100%;
}

.enlargedBook {
    float: right;
    height: 400px;
    width: 220px;
}