#loginBox {
    border-style: solid;
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.btn { 
    width: 100px;
}

.title {
  margin: 10%;
  margin-bottom: 0;
  position: relative;
  left: 80px;
}

body{
  background-image: url();
}